*{
    margin:0;
    padding:0px;
}
#root,html,body{
    margin:0;
    width: 100%;
    height: 100%;
}
.main-page{
    display:flex;
    height: fit-content;
    width:100%;
    .left_side{
        background-color:#3C37FF;
        color: white;
        margin:10px;
        border-radius: 3%;
        padding:2rem 3rem;
        max-width: 33%;
        display:flex;
        flex-direction: column;
        gap:4rem;
        height:100%;
        #section-2{
            display:flex;
            flex-direction: column;
            gap:1rem;
            .section-2_heading{
                font-size:72px;
            }
            .section-2-pera{
                font-size:40px;
                text-align: left;
            }   
        }
        .section-3{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 16px;
            .section-31{
                max-width: 95%;
                background-color: #2520E3;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                gap:12px;
                min-height:10%;
                padding:38px 32px;      
                border-radius: 18px;
                .comments{
                    font-size: large;
                    word-spacing: 6px;
                }
                .user{
                    display:flex;
                    padding:4px;
                    gap: 24px;
                    align-items: center;
                    img{
                        height:68px;
                        border-radius: 6px;
                    }
                    .user_details{
                        display:flex;
                        flex-direction: column;
                        gap:6px;
                        h3{
                            height: fit-content;
                        }
                        p{
                            height: fit-content;
                            color:gainsboro;
                        }
                    }
                }
            }
            .comment-nav{
                display: flex;
                gap:6px;
                span{
                    min-width: 6px;
                    min-height: 6px;
                    border-radius: 50%;
                    background-color: white;
                }
            }
        }
    }
    .right_side{
        width: 100%;
        padding:1.9rem 3rem;
        margin:10px;
        // min-height:70%;
        background-color: #3C37FF;
        .section_1{
            width:90%;
            border-radius: 3%;
            // background-color: #3C37FF;
            
            span{
                display:flex;
                flex-direction: column;
                gap:0.5rem;
                h2{
                    font-weight: 700;
                    font-size: xx-large;
                    font-family: 'Courier New', Courier, monospace;
                }
                div{
                    display: flex;
                    gap:2rem;
                    align-items: center;
                    button{
                        border-radius: 10px;
                        padding: 8px 40px;
                        outline: none;
                        border-style: none;
                        border: 2px solid #3C37FF;
                    }
                }
            }
        }
        .section_2{
            display:flex;
            .section_2_1{
                .articletype{
                    display: flex;
                    gap:14px;
                    button{
                        display:flex;
                        align-items: center;
                        gap:12px;
                        border-radius: 10px;
                        border: none;
                        padding-left: 1px;
                        input{
                            position: relative;
                            left:22px;
                        }
                        label{
                            position:relative;
                            right:24px;
                            padding:12px 48px;
                        }
                    }
                    button:active {
                        // background-color: red;
                    }
                }
            }
        }
    }

}

.active-radio {
    background-color: red;
}
